<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBzBWOFtXhboZNi5YgELS5m8RGxzP22eS0</string>
	<key>GCM_SENDER_ID</key>
	<string>897281410413</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sanglaFoods</string>
	<key>PROJECT_ID</key>
	<string>sangla-foods</string>
	<key>STORAGE_BUCKET</key>
	<string>sangla-foods.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:897281410413:ios:a0ffb0a708c39b385f4664</string>
</dict>
</plist>